/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
    line-height: 1.5;
}
*{    
    scroll-behavior: smooth;
    box-sizing: border-box;    
}
:root{
    
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;  
}

ul{
    list-style: none;
}


/* Typeography General*/
#section2{
    text-align: center;
    background-color: #008d8d;
}

#section4{
    text-align: right;
    background-color: #1d8b8b;
}
#section1,#section3{
    background-color: #1d8b8b54;
}



h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

.container{
    border: 1px solid #cccccc;
    display: flex;
    margin: 0 auto;
    width: 1140px;
}
.navbar__menu{
    display: flex;
}
.tabs__sidebar{
    flex-shrink: 0;
    background-color: #008d8d;
    width: 125px;
    margin: 0 1.5rem 0 0;
    padding: 0;
    overflow: hidden;
}
.tabs_button{
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    background-color: #02cfcf8a;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    position: relative;
    transform: scale(1);
}
.tabs_button::after{
    position: absolute;
    content: "";
    background-color: #017171;
    width: 6px;
    height: 100%;
    right: 1%;
    bottom: 0%;
    border-left: 1px solid #ffffff8c;
}
.tabs_button:hover{
    transform: scale(120%);
}

.active_button{
    background-color: #002929cb;
    font-weight: bolder;
    border-bottom: 1px solid white;
}
.container .tabs_content {
    display: none;
    padding: 15px;
}
.container .your-active-class{
    display: block !important;
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #fff;
}

p {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6em;
    color: #eee;
}
footer p {
    padding: 10px;
    margin-left: 5px;
}
/* Responsive quaries  */

@media only screen and (min-width: 576px){
    .container{
    max-width: 480px;
    }

    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}



@media (min-width: 768px) { 

    .container{
        max-width: 720px;
    }
 }

 @media (min-width: 992px) { 

    .container{
       min-width: 920px;
       max-width: 1140px;
    }

    @media (min-width: 1200px) { 

        .container{
            width: 1140x;
        }
     }
 }